div(class='download')
  a(name='download')
  div(class='download__aligner')
    div(class='download__title') Code Tour Installation

    div(class='download__step')
      div(class='download__icon-box')
        img(
          class='download__number-icon'
          src='/assets/images/number-circle-1.svg'
        )
      div(class='download__instruction-box')
        div(class='download__header') Desktop Editor
        div.
          If you experience issues installing the ediitor, please check to make
          sure antivirus protection isn't blocking the installation process.
          Also, the editor is only available for 64 bit operating systems at
          this time.
        div(class='download__platform-box')
          div(class='download__platforms')
            div(class='download__platform')
              img(
                class='download__platform-icon'
                src='/assets/images/windows-logo.svg'
                )
              div(class='download__platform-name')
                div Windows
                div(class='download__platform-details') (8.1+)
              div(class='download__spacer')
              a(
                class='download__button'
                href='http://nexus.code-tour.com/editor/win/Setup.exe'
              ) Download
            div(class='download__platform')
              img(
                class='download__platform-icon'
                src='/assets/images/apple-logo.svg'
              )
              div(class='download__platform-name')
                div Mac
                div(class='download__platform-details').
                  (macOS 10.11+ El Capitan)
              div(class='download__spacer')
              a(
                class='download__button'
                href='http://nexus.code-tour.com/editor/osx/CodeTour-1.165.572.dmg'
              ) Download
            div(class='download__platform' style='display: none')
              img(
                class='download__platform-icon'
                src='/assets/images/linux-logo.svg'
              )
              div(class='download__platform-name')
                div RPM Linux
                div(class='download__platform-details').
                  (Fedora or Redhat Flavors)
              div(class='download__spacer')
              a(class='download__button') Download
            div(class='download__platform' style='display: none')
              img(
              class='download__platform-icon'
              src='/assets/images/linux-logo.svg'
              )
              div(class='download__platform-name')
                div DEB Linux
                div(class='download__platform-details').
                  (Ubuntu or Debian Flavors)
              div(class='download__spacer')
              a(class='download__button') Download
            div(class='download__platform')
              img(
              class='download__platform-icon'
              src='/assets/images/linux-logo.svg'
              )
              div(class='download__platform-name')
                div Linux Coming Soon
                div(class='download__platform-details').
                  (RPM &amp; DEB Distros)
              div(class='download__spacer')
          div(class='download__spacer')

    div(class='download__step')
      div(class='download__icon-box')
        img(
        class='download__number-icon'
        src='/assets/images/number-circle-2.svg'
        )
      div(class='download__instruction-box')
        div(class='download__header') Activation
        div.
          The editor must be activated on your machine before you can use it.
          To activate the editor while Code Tour is in Beta, send us an email
          at:

        pre(class='download__address') activate (at) code-tour.com

        div.
          and we will send you an activation code.
